/* Navbar */
.navbar {
    padding: 15px 20px;
    justify-content: space-between;
    background-color: #364354;
    color: white;
    font-weight: 600;

}

/* Navbar Left */
.navbarLeft {}

.navbarBurger {
    margin-right: 15px;
    cursor: pointer;
    display: none !important;
    font-size: 1.8rem !important;

    @media(max-width: 700px) {
        display: block !important;
    }
}

.navTitle {
    margin: 0;
    font-size: 1.4rem;
}
@media(max-width: 350px) {
    .navTitle {
      font-size: 1rem;
    }
    .navbarUser,.navbarOrder {
        padding: 5px;
        font-size: 0.8rem;
    }
}
.navLists {
    margin: 0;
    margin-left: 20px;
}

@media(max-width: 700px) {
    .navLists {
        margin: 0;
        display: none !important;

    }
}

.navList {
    padding: 5px;
    margin-right: 15px;
    list-style: none;
}

/* Navbar Right */
.navbarRight {
    font-weight: 600;
}

.navbarUser {
    padding: 5px;
}

.navbarOrder {
    padding: 5px;
    margin: 0 15px;
}

.navbarCart {}

/* Sidebar */
.navbarSidebar {
    overflow-y: scroll;
    padding: 19vh 0;
    background-color: white;
    width: 60vw;
    height: 100vh;
    position: relative;
    transition: all 0.4s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 500ms ease;
    color: black;
}

.navbarSidebarBackground {
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    width: 100vw;
    height: 100vh;
    z-index: 8;
}

.navbarClose {
    position: absolute;
    right: 10%;
    top: 5%;
    cursor: pointer;
    z-index: 30;
    font-size: 2rem !important;
}

.navbarSidebar ul {
    list-style: none;
    margin: 0;
    padding: 0px 3em;
    width: fit-content;
}

.navbarSidebar ul li {
    cursor: pointer;
    text-align: left;
    list-style: none;
}


.navbarSidebar ul li p {
    margin: 35px 0;
}